set sql_safe_updates = 0;

use `{{{model.modelName}}}`;

{{#each (invert model.tables) as |table tableId|}}
delete from `{{{table.tableName}}}`;
{{/each}}

{{!-- Generate insert statements... --}}
{{#each tableContents as |tableContent tableContentId|}}
/* Table for {{{tableContent.tableDefinition.pluralDescription}}} */

{{#each tableContent.rows as |row rowId|}}
insert into `{{{row.tableDefinition.tableName}}}`({{#each row.columnDefinitions as |columnDefinition columnDefinitionId|}}{{#unless @first}}, {{/unless}}`{{{columnDefinition.columnName}}}`{{/each}})
values ({{#each row.cells as |cell cellId|}}{{#unless @first}}, {{/unless}}{{{call ../../../generator 'getData' cell}}}{{/each}});

{{/each}}
{{/each}}
